/* Omarchy theme colors - empty default, populated by theme system */
@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color primary #89b4fa;
@define-color secondary #f5c2e7;
@define-color accent #94e2d5;
@define-color warning #f9e2af;
@define-color error #f38ba8;
